@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-image-1 {
    background-image: url('../svg/bg-small-3.svg');
    background-size: cover;
    background-position: center;
    height: 200px;
}

body .css-1yftrj {
    @apply text-2xl leading-none;
}

body .text-white .css-1yftrj {
    color: white;
}